body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Dosis', serif;
    font-size: 18px;
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

.secondary-block {
    margin-top: 50px;
    padding: 0 1em;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 2em;
}

#content {
    margin: auto;
    background-color: white;
    /* box-shadow: 0 -4px 13px -2px rgba(30,30,30,.2); */
    height: 100%;
}

header {
    /* position: fixed; */
    z-index: 100;
    top: 0;
    width: 100%;
    padding-top: 3em;
    padding-bottom: .5em;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    background-color: white;
}

@media (max-width: 768px) {
    header {
        padding-top: .5em;
        padding-bottom: 0;
    }
}

header .ju {
    color: #333333;
    font-size: 120%;
}

header .ju img {
    width: 1.3em;
    vertical-align: middle;
    display: none;
}

header .tackle-clutter {
    font-family: 'Raleway', sans-serif;
    font-size: 250%;
}

@media (max-width: 768px) {
    header .tackle-clutter {
        font-size: 150%;
    }
}

footer .tackle-clutter {
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
    margin-top: 1em;
}

header .organizer {
    color: #4aa6a9; /* rgb(172,198,109) */
    font-size: 76%;
}

section.tips {
    background-color: rgba(74, 166, 169, 0.49);
    border: 2px solid #aaa;
    border-radius: 10px;
    padding: .5em;
    text-align: center;
    font-size: 120%;
    line-height: 120%;
    margin: 0;
}

section h4 {
    text-align: center;
    font-size: 170%;
    margin-top: 0;
    margin-bottom: 0;
}

img.ju {
    width: 250px;
}

@media (max-width: 767px) {
    img.ju {
        width: 160px;
        margin-top: 5em;

    }
}
header .social-media {
    display: block;
    opacity: 1;
    transition: all .2s;
}

@media (min-width: 767px) {

    header .social-media {
        position: absolute;
        left: 1em;
        top: 1em;
        width: 160px;
    }

    header .social-media ul {
        width: 160px;
    }
}

@media (max-width: 768px) {
    header .social-media {
        text-align: right;
    }
}

.scrolled-away header .social-media {
    top: 0.5em;
}

.social-media {
    text-align: center;
    color: #4aa6a9;
    margin: 0 auto;
    /* padding: .8em .8em .8em 11em; */
}

.social-media ul {
    margin: auto;
    width: 150px;
    font-size: 0;
    padding: 0;
    display: inline-block;
}

.social-media h4 {
    font-family: 'Dosis', sans-serif;
    font-size: 170%;
    margin-bottom: 0;
    margin-top: 0;
    color: #4aa6a9;
}

.social-media ul li {
    font-size: medium;
    text-align: center;
    padding: .2em;
    display: inline-block;
    border: 2px solid #e9e9e9;
    border-radius: 5px;
    background-color: #f3f3f3;
    margin: 0.2em;
}

.social-media .fa {
    color: #4aa6a9;
}

.about-me {
    padding: 3em;
    text-align: center;
    vertical-align: middle;
    font-family: 'Dosis', sans-serif;
    font-size: 125%;
    line-height: 35px;
}

.ju-profile-col {
    text-align: center;
}

.ju-profile-col img {
    padding-top: 1.5em;
    max-width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    .ju-profile-col img {
        width: 250px;
    }
}
@media (min-width: 992px) {
    .ju-profile-col img {
        padding-top: 0;
    }
}

span.ju-profile {
    background-image: url(../img/ju-profile.jpg);
    background-position: center;
    background-size: cover;
}

span.rounded-img.ju-profile {
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .9), 0 -1px 0 rgba(0, 0, 0, .6);
    -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .9), 0 -1px 0 rgba(0, 0, 0, .6);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .9), 0 -1px 0 rgba(0, 0, 0, .6);
    width: 60%;
}

.rounded-img img {
    opacity: 0;
    width: 100%;
}

footer {
    margin: 2em auto 0 auto;
    padding: 0.5em 0 1em;
    font-size: 110%;
    background-color: #fafafa;
    color: #464646;
    box-shadow: inset 0 0 3px #eee;
    font-family: 'Dosis', serif;
    text-align: center;
}

footer a, footer a:hover {
    text-decoration: none;
    color: #464646;
}

footer .nav-links {
    margin-top: 1.2em;
}
footer .nav-links ul {
    padding: 0;
}

footer .navbar {
   margin-bottom: 0;
}

@media (max-width: 991px) {
    footer ul {
        margin: .2em;
    }
    footer .social-media {
        margin-top: 1em;
    }
    footer .nav-links ul {
        width: 11em;
    }
}

@media (max-width: 768px) {
    footer .social-media .fa {
        font-size: 1.6em;
    }
    footer .social-media ul {
        width: 100px;
    }
}
@media (min-width: 992px) {
    footer .social-media {
        margin-top: 0.5em;
    }

    footer .nav-links ul {
        width: 15em;
    }
}

footer .nav-links ul li {
    display: inline-block;
    /*display: block;*/
    font-weight: bold;
    width: 4em;
}


footer .notice {
    display: none;
    font-size: 75%;
    text-align: left;
}

@media (min-width: 768px) {
    /* Change the header when scrolled down */
    .scrolled-away header {
        position: fixed;
        padding-top: .5em;
        padding-bottom: 0;
        transform: translateY(0%);
        transition: 1s transform cubic-bezier(.3, .73, .3, .74);
    }

    .scrolled-away header + div {
        margin-top: 300px;
    }

    .scrolled-away header menu {
        margin: 0 auto;
    }

    .scrolled-away header .ju {
        position: absolute;
        right: 1em;
    }

    .scrolled-away header .organizer {
        position: absolute;
        top: 3em;
        right: 1em;
    }

    .scrolled-away header .tackle-clutter {
        position: absolute;
        left: 50%;
        margin-left: -4em;
    }

    .scrolled-away header .navbar {
        margin-top: 4em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .scrolled-away header .tackle-clutter {
        margin-left: -6em;
    }
    .scrolled-away header .social-media {
        opacity: 0;
    }
}

header, header * {
    transition: all .5s;
}

/* Text flipping */

/* entire container, keeps perspective */

/* flip speed goes here */
.flipper {
    margin-top: 0;
    perspective: 1000px;
    position: relative;
    height: 11em;
}

@media (min-width: 500px) and (max-width: 768px) {
    .flipper {
        height: 8em;
    }
}
.flipper .card {
    transition: all 1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 35px;
    width: 100%;
    height: 100%;
    display: table;
}

.flipper .card p {
    display: table-cell;
    vertical-align: middle;
}

.flipper .card.up {
    z-index: 2;
    transform: rotateX(0deg);
}

.flipper .card.forward {
    transform: rotateX(-90deg);
    opacity: 0;
}

.flipper .card.back {
    transform: rotateX(90deg);
    opacity: 0;
}

img.vertical-separator {
    position: absolute;
    top: 2.5em;
    width: 3px;
    height: 9em;
    background-image: url(../img/vgray.gif);
}


img.vertical-separator.left {
    left: 1.5em;
}

img.vertical-separator.right {
    right: 1.5em;
}

@media (max-width: 767px) {
    img.vertical-separator {
        height: 79%;
        top: 2em;
    }
}

.horizontal-rule {
    height: 3px;
    width: 100%;
    margin: 12px 0 20px 0;
}

.secondary-block .tips {
    vertical-align: middle;
}

.follow-block {
    margin-top: 5em;
    width: 100%;
}

header .navbar {
    margin-top: .5em;
}

/*@media (min-width: 768px) {*/
/*.navbar {*/
/*margin-top: 2em;*/
/*}*/
/*}*/
/*.scrolled-away .navbar {*/
/*margin-top: .2em;*/
/*}*/

@media (min-width: 768px) {
    header .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    header .navbar .navbar-collapse {
        text-align: center;
    }
}


@media (min-width: 992px) {
    .nav > li > a {
        padding-left: 50px;
        padding-right: 50px;
    }
}


.about.container {
    font-size: large;
}

h3 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
}

h3.first {
    margin-top: 0;
}

.contact-box form {
    width: 95%;
}

@media (min-width: 768px) {
    .contact-box form {
        width: 600px;
    }
}

.contact-box form label {
    display: block;
    position: relative;
    padding-left: 6.5em;
}

.contact-box form span {
    margin-left: -6.5em;
    position: absolute;
}

.contact-box form label input {
    width: 100%;
}

.contact-box form textarea {
    height: 8em;
    width: 100%;
}

.home span.rounded-img.ju-profile {
    width: 75%;
}

.gallery img {
    border: 5px solid #64d9b3;
    max-width: 100%;
    height: auto;
}

.gallery .row {
    margin-bottom: 2em;
    vertical-align: top;
}
.gallery .row:last-child {
    margin-bottom: 0;
}

.gallery .row span {
    /*text-align: center;*/
}

.gallery .gallery-text {
    background-color: rgba(128, 128, 128, .50);
    padding: 1px 8px;
    position: absolute;
    bottom: .5em;
    left: 1em;
    font-size: 120%;
    color: #e0e8e0;
    text-shadow: 1px 1px 5px rgba(163, 209, 175, 1);
    box-shadow: 2px 2px 10px #888888;
    border: 1px solid #ddd;
}

/*.services-list {*/
    /*position: relative;*/
/*}*/
/*.services img.ju {*/
    /*position: absolute;*/
    /*top: 5em;*/
    /*right: 2em;*/
/*}*/

.contact-box img {
    width: 30%;
    margin-top: .5em;
}

.yt-video {
    display: block;
    margin-top: .5em;
    width: 500px;
    height: 300px;
}

@media (max-width: 767px) {
    .yt-video {
        width: 100%;
        height: 16em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .yt-video {
        width: 90%;
        height: 20em;
    }
}


.about-page img {
    max-width: 90%;
    margin: 1em;
}

@media (min-width: 768px) {
    .about-page img {
        width: 44%;
        margin: 1em;
    }

}


.bss-slides figure img {
    opacity: 0;
    -webkit-transition: opacity 1.2s;
    transition: opacity 1.2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 250px;
    background-position: center;
}